# nested dictionary example

In [59]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
lst = []
for x,y in myfamily.items():
    #print(y)
    
    for w,z in y.items():
        
        if w=='year':
            if z%2!=0:
              lst.append(y['name'])
print(lst)

['Tobias', 'Linus']

# Remove

In [60]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

## specified index

In [61]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

#pop element at last 
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'cherry']
['banana', 'cherry']
['apple', 'banana']

## delete entire list

In [62]:
thislist = ["apple", "banana", "cherry"]
del thislist

thislist = ["apple", "banana", "cherry","mango"]
thislist.clear()
print(thislist)

[]

## loop

In [63]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)
  
#range 
thislist = [1,"apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

#while
thislist = [2,"apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

#list comprehnsion

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry
1
apple
banana
cherry
2
apple
banana
cherry
apple
banana
cherry

[None, None, None]

#### list comprehension
smaller syntax to create a list with values of another list

In [64]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

instead

In [65]:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [66]:
newlist = [x for x in fruits if "a" not in x]
print(newlist)

['cherry', 'kiwi']

In [67]:
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

## sort()

In [68]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
print("\n")

#numeric asc
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)
print("\n")
#num desc
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)
print("\n")
#reverse
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']


[23, 50, 65, 82, 100]


['pineapple', 'orange', 'mango', 'kiwi', 'banana']


['cherry', 'Kiwi', 'Orange', 'banana']

#### Sort the list based on how close the number is to 50:

In [69]:

list1=[100,50,65,82,23]
l=[]
for i in list1:
    diff=abs(i-50)
    
    
    l.append(diff)
l.sort()
print(l)

[0, 15, 27, 32, 50]

## COPY

In [70]:
#copy() method
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)
print("\n")

#list constructor method
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)
print("\n")
#slice operator
mylist=thislist[0:3]
print(mylist)

['apple', 'banana', 'cherry']


['apple', 'banana', 'cherry']


['apple', 'banana', 'cherry']

## JOIN lists

In [71]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [72]:
#apppend
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

#for x in list2:
  #list1.append(x)
list1.append(list2)

print(list1)

['a', 'b', 'c', [1, 2, 3]]

In [73]:
#extend
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

# TUPLE

In [74]:
T=("abc",1,"def",2,9)
print(T)

('abc', 1, 'def', 2, 9)

len

In [75]:
T=("abc",1,"def",2,9)
print(len(T))

5

### Tuple constructor

In [76]:

P=tuple(("abc",1,"def",2,9))
print(P)

('abc', 1, 'def', 2, 9)

### ACCESS

In [77]:
# index
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[1])
print("\n")
print(thistuple[-1])
print("\n")
print(thistuple[2:5])
print("\n")
print(thistuple[:4])
print("\n")
print(thistuple[2:])

banana


mango


('cherry', 'orange', 'kiwi')


('apple', 'banana', 'cherry', 'orange')


('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [78]:
#check
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

## Change tuple values
You can change the values of a tuple by creating a new tuple with the updated values. or convert into list

In [79]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)
print("\n")


z = list(x)
z.append("orange")
thistuple = tuple(z)
print(z)

('apple', 'kiwi', 'cherry')


['apple', 'kiwi', 'cherry', 'orange']

#### add tuple to tuple

In [80]:
x = ("apple", "banana", "cherry")
y=("mango","watermelon")
y+=x
print(y)

('mango', 'watermelon', 'apple', 'banana', 'cherry')

### remove items

In [81]:
#tuple to list
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)
print("\n")

#del 
t = ("apple", "banana", "cherry")
del t
print(t)

('banana', 'cherry')

NameError: name 't' is not defined

## UNPACK TUPLE
assign value to tuple is packing
fruits = ("apple", "banana", "cherry")

# unpacking tuple is assigning value to variable
fruits = ("apple", "banana", "cherry")
(x,y,z)=fruits
print(x,y,z) -> ("apple", "banana", "cherry")

In [22]:
#Assign the rest of the values as a list called "red":(asterik)

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

# loop

In [26]:
#for
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
for i in fruits:
    print(i)
print("\n")
#for range
for i in range(len(fruits)):
    print(fruits[i])
print("\n")
#while
i=0
while i < len(fruits):
    print(fruits[i])
    i+=1

apple
banana
cherry
strawberry
raspberry


apple
banana
cherry
strawberry
raspberry


apple
banana
cherry
strawberry
raspberry

## join tuple

#### join() method concatenates all the items in the tuple into a single string.

In [31]:
# using +
t=("apple", "banana", "cherry")
u=("strawberry", "raspberry")
t+=u
print(t)
print("\n")

#multiply
a=("apple", "banana", "cherry")
y=a*2
print(y)

('apple', 'banana', 'cherry', 'strawberry', 'raspberry')


('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# SETS
#A set is a collection which is unordered, unchangeable*, and unindexed.

##### add

In [34]:
#add items
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)
print("\n")

# add sets
thisset = {"mango", "pineapple"}
fruits = {'apple', 'banana', 'cherry'}
fruits.update(thisset) 
print(fruits)
print("\n")

#add any iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'apple', 'banana', 'orange'}


{'banana', 'mango', 'pineapple', 'cherry', 'apple'}


{'banana', 'kiwi', 'cherry', 'apple', 'orange'}

#### Remove items

In [41]:
#remove()
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)
print("\n")
#discard()

thisset.discard("apple")
print(thisset)
print("\n")
#pop() remove random value
'''fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
x=fruits.pop()
print(fruits)
print("\n")

#delete() or clear()
fruits.clear()
del fruits'''

{'cherry', 'apple'}


{'cherry'}

'fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")\nx=fruits.pop()\nprint(fruits)\nprint("\n")\n\n#delete() or clear()\nfruits.clear()\ndel fruits'

# JOIN sets

The union() and update() methods joins all items from both sets.

The intersection() method keeps ONLY the duplicates.

The difference() method keeps the items from the first set that are not in the other set(s).

The symmetric_difference() method keeps all items EXCEPT the duplicates.

In [42]:
#union
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'c', 'a'}

In [44]:
#update
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}

In [45]:
#intersection
set1 = {"a", "b", "c",1,3,7.9}
set2 = {1, 2, 3,"b","d","e"}

set3=set1.intersection(set2)
print(set3)

{1, 3, 'b'}

In [46]:
#difference
set1 = {"a", "b", "c",1,3,7.9}
set2 = {1, 2, 3,"b","d","e"}

set3=set1.difference(set2)
print(set3)

{'c', 'a', 7.9}

In [47]:
#sym_diff
set1 = {"a", "b", "c",1,3,7.9}
set2 = {1, 2, 3,"b","d","e"}

set3=set1.symmetric_difference(set2)
print(set3)

{2, 7.9, 'c', 'a', 'd', 'e'}

# Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [49]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)
print(len(thisdict))

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
3

### The dict() Constructor

In [50]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

## Access

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

get keys

In [54]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

get values

In [55]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

#### Get Items
The items() method will return each item in a dictionary, as tuples in a list.

In [56]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [57]:
# Add a new item to the original dictionary, and see that the items list gets updated as well:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

## Change Dictionary Items

#### Change Values
You can change the value of a specific item by referring to its key name: 
#### change and add items are same
Adding an item to the dictionary is done by using a new index key and assigning a value to it:

In [59]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [60]:
#Update Dictionary

print(thisdict)
thisdict.update({"year": 2020})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### Remove

##### pop()
method removes the item with the specified key name:

In [61]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

##### popitem()
removes last inserted item

In [63]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [64]:
#del
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [65]:
#clear
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [72]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
#keys
for x in thisdict:
  print(x)
print("\n")

for x in thisdict.keys():
  print(x)
print("\n")
  
#values
for x in thisdict:
  print(thisdict[x])
print("\n")

for x in thisdict.values():
  print(x)
print("\n")

#items
for x, y in thisdict.items():
    print(x ,":", y)

brand
model
year


brand
model
year


Ford
Mustang
1964


Ford
Mustang
1964


brand : Ford
model : Mustang
year : 1964

#### COPY

In [73]:
#copy()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)
print("\n")

dict1 = dict(thisdict)
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}


{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Iterative statement
### the while loop
The while loop is used to execute a block of code repeatedly as long as a certain condition is True

In [17]:
#### Iterative statement
### the while loop
#The while loop is used to execute a block of code repeatedly as long as a certain condition is True
# #Print i as long as i is less than 6:

i = 1
while i < 50:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

#### The break Statement
With the break statement we can stop the loop even if the while condition is true:

#### The continue Statement
With the continue statement we can stop the current iteration, and continue with the next:

In [28]:

#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  
  if i == 3:
    continue
  
  print(i)

1
2
4
5
6

#### The else Statement
With the else statement we can run a block of code once when the condition no longer is true:

In [20]:
#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### FOR loop
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

In [31]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
print("\n")

#Loop through the letters in the word "banana":

for x in "banana":
  print(x)
print("\n")

apple
banana
cherry


b
a
n
a
n
a

#### the break statement

In [32]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

#### continue statement

In [33]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

### The range() Function
To loop through a set of code a specified number of times, we can use the range() function,

In [34]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

In [38]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

#### ELSE

In [40]:
#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")
print("\n")
# #Break the loop when x is 3, and see what happens with the else block:

for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!


0
1
2

### Nested Loops
A nested loop is a loop inside a loop.

In [41]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#### The pass Statement

In [42]:
for x in [0, 1, 2]:
  pass

## Python Functions
A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

In [45]:
#calling a function
def my_function():
  print("Hello from a function")

my_function() # func call
print("\n")

#arguments
def my_function(fname):#fnamee= parameters
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")# arguments
print("\n")
#This function expects 2 arguments, and gets 2 arguments:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Hello from a function


Emil Refsnes
Tobias Refsnes
Linus Refsnes


Emil Refsnes

#### Arbitrary Arguments, *args

In [46]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

#### Keyword Arguments

In [47]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

#### Arbitrary Keyword Arguments, **kwargs

In [48]:
#If the number of keyword arguments is unknown, add a double ** before the parameter name:

def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

#### Default Parameter Value

In [49]:
#If we call the function without argument, it uses the default value:

def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

#### Passing a List as an Argument
You can send any data types of argument to a function (string, number, list, dictionary etc.), and it will be treated as the same data type inside the function.

E.g. if you send a List as an argument, it will still be a List when it reaches the function:

In [50]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

####  Return Values

In [51]:
#To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

### The pass Statement
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the pass statement to avoid getting an error.

In [52]:
def myfunction():
  pass

### Positional-Only Arguments
You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.

To specify that a function can have only positional arguments, add , / after the arguments:

In [53]:
def my_function(x, /):
  print(x)

my_function(3)

3

In [54]:
#Without the , / you are actually allowed to use keyword arguments even if the function expects positional arguments:


def my_function(x):
  print(x)

my_function(x = 3)

3

In [57]:
#But when adding the , / you will get an error if you try to send a keyword argument:

def my_function(x, /):
  print(x)

my_function(x=3)

TypeError: my_function() got some positional-only arguments passed as keyword arguments: 'x'

#### Keyword-Only Arguments

In [58]:
#To specify that a function can have only keyword arguments, add *, before the arguments:


def my_function(*, x):
  print(x)

my_function(x = 3)
print("\n")
#Without the *, you are allowed to use positionale arguments even if the function expects keyword arguments:


def my_function(x):
  print(x)

my_function(3)

3


3

### Combine Positional-Only and Keyword-Only
You can combine the two argument types in the same function.

Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

In [59]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

### Recursion
Python also accepts function recursion, which means a defined function can call itself.

Recursion is a common mathematical and programming concept. It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.

The developer should be very careful with recursion as it can be quite easy to slip into writing a function which never terminates, or one that uses excess amounts of memory or processor power. However, when written correctly recursion can be a very efficient and mathematically-elegant approach to programming.

In this example, tri_recursion() is a function that we have defined to call itself ("recurse"). We use the k variable as the data, which decrements (-1) every time we recurse. The recursion ends when the condition is not greater than 0 (i.e. when it is 0).

In [60]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [1]:
#factorial
def fact(n):
    if n==0:
        return 1
    else:
         return n*fact(n-1)
        
num=5
fact(num)

120

### Python Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

#### lambda arguments : expression

In [4]:
#Add 10 to argument a, and return the result:

x = lambda a : a + 10
print(x(5))  # Output: 15

#Multiply argument a with argument b and return the result:

x = lambda a, b : a * b
print(x(5, 6))   # Output: 30

#Summarize argument a, b, and c and return the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))   # Output: 13

15
30
13

In [5]:
#Use that function definition to make a function that always doubles the number you send in:


def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [9]:
# use the same function definition to make a function that always triples the number you send in:


def myfunc(n):
  return lambda a : a * n
  

mytripler = myfunc(3)

print(mytripler(11))

33

In [10]:
#use the same function definition to make both functions, in the same program:


def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## Python Arrays
Note: Python does not have built-in support for Arrays, but Python Lists can be used instead.

#### Arrays
Note: This page shows you how to use LISTS as ARRAYS, however, to work with arrays in Python you will have to import a library, like the NumPy library.

Arrays are used to store multiple values in one single variable:

Example Get your own Python Server
Create an array containing car names:

cars = ["Ford", "Volvo", "BMW"]
What is an Array?
An array is a special variable, which can hold more than one value at a time.

If you have a list of items (a list of car names, for example), storing the cars in single variables could look like this:

car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
However, what if you want to loop through the cars and find a specific one? And what if you had not 3 cars, but 300?

The solution is an array!

An array can hold many values under a single name, and you can access the values by referring to an index number.

Access the Elements of an Array
You refer to an array element by referring to the index number.


The Length of an Array
Use the len() method to return the length of an array (the number of elements in an array).

In [13]:
cars = ["Ford", "Volvo", "BMW"]
#Get the value of the first array item:

x = cars[0]
print(x)
#Modify the value of the first array item:

cars[0] = "Toyota"
x=cars[0]
print(x)
#Return the number of elements in the cars array:

x = len(cars)
print(x)

#Print each item in the cars array:
#Looping Array Elements
#You can use the for in loop to loop through all the elements of an array.
for x in cars:
  print(x)

#You can use the append() method to add an element to an array.

#Add one more element to the cars array:

cars.append("Honda")
print(cars)
#Removing Array Elements
#You can use the pop() method to remove an element from the array.

#Delete the second element of the cars array:

cars.pop(1)
print(cars)
#You can also use the remove() method to remove an element from the array.


#Delete the element that has the value "Volvo":

#cars.remove("Volvo")
print(cars)

Ford
Toyota
3
Toyota
Volvo
BMW
['Toyota', 'Volvo', 'BMW', 'Honda']
['Toyota', 'BMW', 'Honda']
['Toyota', 'BMW', 'Honda']

## Exercises

In [14]:
#loop
x=int(input())
y=int(input())
for i in range(x,y):
    print(i) 
'''
10
20
10
11
12
13
14
15
16
17
18
19
'''

x=int(input())
for i in range(1,x):
    if (i%2==0):
        print(i)
'''20
2
4
6
8
10
12
14
16
18'''

### CLASS AND OBJECTS

In [9]:
class goa:
    name="tyughv"
    drink=""
    def party(self):
        print("party")
    def beach(self):
        print("enjoy beach")
        
#to get ticket to goa
ramesh=goa()#ramesh obj is created for class goa
suresh=goa()#suresh obj is created for class goa
print(ramesh.name) #doesnt print anything therefore set name="tyughv"
#but his name is other therfore
ramesh.name="Ramesh"
suresh.name="Suresh"
ramesh.party()
suresh.beach()
ramesh.drink="yes"
suresh.drink="no"
#add name=""

#register in goa
print(ramesh.name)
#go to suresh
print(suresh.name) #tyughv

print(suresh.name) #
print("drink:",ramesh.drink)
print(suresh.name)
print("drink:",suresh.drink)

tyughv
party
enjoy beach
Ramesh
Suresh
Suresh
drink: yes
Suresh
drink: no

### Create a class called laptop and create a following variables and functions
variable=>Price,Processor,Ram
### create object HP,DELL,LENOVO

In [14]:
class laptop:
    price=0
    processor=""
    ram=""
    

hp=laptop()
Dell=laptop()
Lenovo=laptop()

hp.price=50000
hp.processor="i3"
hp.ram="8GB"

Dell.price=30000
Dell.processor="i4"
Dell.ram="12GB"

Lenovo.price=70000
Lenovo.processor="i5"
Lenovo.ram="16GB"

print (hp.ram)
print(Dell.price)

8GB
30000

#### using constructor and self keyword

In [19]:
class laptop:
    def __init__(self):
        print("demo")
    def display(self):
        print("display")
hp=laptop()

demo

In [22]:
class laptop:
    price=0
    ram=""
    def __init__(self):
        print("demo")
    def display(self):
        print("display")
hp=laptop()
hp.price=50000
print(hp.price)

demo
50000

instead use constructor to define vlaue

In [1]:
class laptop:
   
    def __init__(self):
       
        self.ram=""
        self.processor=""
        print("__init__")
    def display(self):
        print("ram:",self.ram)
        print("processor:",self.processor)
hp=laptop()

hp.ram="8GB"
hp.processor="i3"

dell=laptop()
dell.ram="16GB"
dell.processor="i5"

hp.display()
dell.display()

__init__
__init__
ram: 8GB
processor: i3
ram: 16GB
processor: i5

#### pass

In [29]:
class car:
    pass

In [33]:
x=lambda a,b:a+b
print(x(5,6))

11

In [34]:
def add(a,b):
    print("a+b")
    return a+b
    

x=10
y=6
add(x,y)

16

create a class student,create variable name and regno using constructor.CREAATE A display func that prints the value

In [2]:
class Student:
    def __init__(self):
        self.name="RAMESH"
        self.regno="21CS134"
    def display(self):
        print("name",self.name)
        print("regno",self.regno)

s1=Student()
s2=Student()
s1.name="manoj"
s1.regno="1"

s2.name="karthi"
s2.regno="2"


s1.display()
s2.display()

name RAMESH
regno 21CS134
name karthi
regno 2

create a class fruit,create a varibale colour,create a object called apple pass color through object

In [7]:
class Fruit:
    def __init__(self,color):
        self.color="orange"
apple=Fruit()
apple.color="red"
print(apple.color) #prints red
#but according to question
class Fruit:
    def __init__(self):
        self.color="orange"
apple=Fruit("red")

print(apple.color)

TypeError: Fruit.__init__() missing 1 required positional argument: 'color'

In [8]:
#therefor for above mistake
class Fruit:
    def __init__(self,col):
        self.color=col
apple=Fruit("red")

print(apple.color)  #prints red

red

create a class called teacher craete a variable name  and regno using constructor ,create a function called display which display the  name and regno of the teacher.create t1 and t2 onject  and pass the name and reg no value through object

In [10]:
class teacher:
    def __init__(self, nam, reg):
        self.name=nam
        self.regno=reg
    def display(self):
        print("name:",self.name)
        print("regno:",self.regno)
t1=teacher("reena","21")
t2=teacher("meenakshi","24")
t1.display()
t2.display()

name: reena
regno: 21
name: meenakshi
regno: 24

create a class called calculator,create 2 variables a and b and function called ADD,SUB,MUL,DIV all func should take 2 variables as parameters.pass a and b value through object
.

In [23]:
class calculator:
    def __init__(self,a,b):
       self.a = a
       self.b = b
    def ADD(self):
        print("ADD",self.a+self.b)
    def SUB(self):
        print("SUB",self.a-self.b)
    def MUL(self):
        print("MUL",self.a*self.b)    
    def DIV(self):
        print("DIV",self.a/self.b)    

obj=calculator(10,15)

obj.ADD()
obj.SUB()
obj.DIV()
obj.MUL()

ADD 25
SUB -5
DIV 0.6666666666666666
MUL 150

### TYPES OF CLASS VARIABlES

In [27]:
class phone():
    def __init__(self,brand,price,chargertype):
        self.brand=brand
        self.price=price
        self.chargertype=chargertype
    def display(self):
        print(f"Brand: {self.brand}")
        print(f"Price: {self.price}")
        print(f"Charge Type: {self.chargertype}")
        
samsung=phone("Samsung","50000","B-TYPE")
samsung.display()

Brand: Samsung
Price: 50000
Charge Type: B-TYPE

#### TYPES OF CLASS METHODS

In [9]:
class laptop:
    chargertype="C-TYPE"
    def __init__(self):
        self.brand=""
        self.price=34
    def setPrice(self,price):
        self.price=price
    def getPrice(self): #instance method
        print(self.price)
    @classmethod
    def changecharger(cls): #class method
        cls.charger="B_TYPE"
        print("charger",cls.charger)
    @staticmethod
    def info():
        print("laptop")

hp=laptop()
#if i create a setprice() and add value 
hp.setPrice(2000000)

hp.getPrice() #before setprice() 34 after setprice(200000)
#200000 is printed 
#laptop.changecharger(laptop) #charger B_TYPE or use decorator

laptop.changecharger() #charger B_TYPE
hp.info()

2000000
charger B_TYPE
laptop

### Python Inheritance

Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

#### Create a Parent Class
Any class can be a parent class, so the syntax is the same as creating any other class:

In [39]:
class dad():
    def phone(self):
        print("Dads phone")

class son(dad):
    def laptop(self):
        print("son's laptop")

ram=son()
ram.laptop() #son's laptop
ram.phone() #dads phone use dad in class son

son's laptop
Dads phone

### Multiple inheritance
one class can access properties of 2 classes

In [12]:
class dad():
    def phone(self):
        print("Dads phone")
class mom(dad):
    def sweet(self):
        print("mom's sweet")

class son(mom):
    def laptop(self):
        print("son's laptop")

ram=son()
ram.laptop() #son's laptop
ram.phone() #dads phone use dad in class son
ram.sweet() #mom's sweet use dad,mom in son class
m=mom()
m.phone()

son's laptop
Dads phone
mom's sweet
Dads phone

### MULTILEVEL INHERITANCE

In [66]:
class grandad():
    def phone(self):
        print("Grandad's phone")
class dad(grandad):
    def money(self):
        print("dad's money")

class son(dad,grandad):
    def laptop(self):
        print("son's laptop")

ram=son()
ram.laptop() #son's laptop
ram.money() #dad's money use dad in son class

d1=dad()
ram.phone() #grandads phone use grandad in class dad
d1.phone()

son's laptop
dad's money
Grandad's phone
Grandad's phone

### HIERARCHIAL INHERITAANCE

In [52]:
class dad():
    def money(self):
        print("DAD money")

class son1(dad):
    pass

class son2(dad):
    pass

class son3(dad):
    pass

s2=son2()
s2.money()

DAD money

### HYBRID INHERITANCE

In [69]:
class dad():
    def money(self):
        print("DAD money")
class land():
    def importance(self):
        print("important land")

class son1(dad,land):
    pass
class son2(dad):
    pass

class son3(son1):
    pass

s1=son1()
s1.money()
s1.importance()
s3=son3()
s3.money()
#son1 son2 and son2 to dad heirarchical +multiple = hybrid

DAD money
important land
DAD money

### SUPER KEYWORD

In [81]:
class a():
    def __init__(self):
        print("A")
    def display(self):
        print("Youre in class a!")
class b():
    def  __init__(self):
        print("B")

    def display(self):
        print("Youre in class b!")
    
obj=a()#a
onj=b() #b

A
B

In [83]:
#inherit a
class a():
    def __init__(self):
        print("A")
    def display(self):
        print("Youre in class a!")
class b(a):
    
    def display(self):
        print("Youre in class b!")
onj=b() #A return parents constructor

A

In [84]:
#use super keyword to inherit constructor from a
class a():
    def __init__(self):
        print("A")
    def display(self):
        print("Youre in class a!")
class b(a):
    def  __init__(self):
        super().__init__()
        print("B")
    def display(self):
        print("Youre in class b!")
onj=b()

A
B

In [14]:
class a():
    def __init__(self):
        print("A")
    def display(self):
        print("Youre in class a!")
class b():
    def  __init__(self):
        print("B")
    def display(self):
        print("Youre in class b!")
class c(a,b):
    def __init__(self):
        super().__init__()
        print("C")
    def display(self):
        print("Youre in class c!")
            
#onj=b()
ob=c() # A C

A
C

In [96]:
import random 
print(random.randrange(1,101))

23

### POLYMORPHISM

having many forms ,it has same function being used for different types.the key differnce is the data type and number of  arguments used in function

In [4]:
def add():
    print("addd")
    
add()
#if
def add(a,b):
    print(a+b)
    
add(10,20)

def add(a=10):
    print(a)
    
add(50)

def add(a,b,c=0):
    print(a+b+c)

add(1,2) 
add(1,2,3)

addd
30
50
3
6

create a class called animal with a method sound() that prints "ANIMAL makes a sound" .create a derived class called Dog that inherits from Animal andoverrides the sound() methos to print "dog Barks".Create another derived class called Bird that inherts from Animal and override the sound() method to print "Birds Sing"

In [7]:
class Animal():
    def sound(self):
        print("The animal makes a sound")

class Dog(Animal):
    def sound(self):
        print("The dog barks")
class Bird(Animal):
    def sound(self):
        print("The bird chirps")

d=Dog()
b=Bird()
a=Animal()
d.sound()
b.sound()
a.sound()

The dog barks
The bird chirps
The animal makes a sound

create a base class shape method area() that return 0 .create derived class Rectangle that inherits  from shape and overrides the area() method to calculate and return area of the rectangle

In [13]:
class Shape():
    def area(self):
        return 0
class Rectangle(Shape):
    def area(self):
        l=20
        b=30
        return (l*b)
s=Shape()
print(s.area())
   
r=Rectangle()
r.area()

0

600

create a base class called Person with a constructir that takes a name as a parameter .create derived class called Students that inherits from Person and has a constructor that takes a parameter called grade.write a method in Student to display the name and use super keyword to achieve this

In [35]:
class Person():
    def __init__(self, name):
        self.name=name
    def display(self): 
        print(self.name)
        

class Students(Person):
    def __init__(self,name,grade):
        super().__init__(name)
        self.grade=grade
    def display(self):
        print(self.name,self.grade)

#p=Person("john")
#p.display()  
s=Students("John","A-Grade")
s.display()

John A-Grade

create a base class calledVehicle eith a method start() that  prints "vehicle strated".create a derived class called CAR  that ingerits from venhicle and overrides the start() method to print "car started"

In [40]:
class Vehicle():
    def start(self):
        print("vehicle started")
class Car(Vehicle):
    def start(self):
        print("car started")
v=Vehicle()
c=Car()
v.start()
c.start()

vehicle started
car started

create a base class called Employee woth properties name and salary .create a derived class called MAnager that inherits from Employee and adds a property department.Write a methos in MAnager to display the name,salary and department of the manager

In [45]:
class Employee():
    def __init__(self, name, salary):
        self.name=name
        self.salary=salary
    
class Manager(Employee):
    def __init__(self,name,salary,department):
        super().__init__(name,salary)
        self.department=department
    def display(self):
        print(f"name: {self.name}")
        print(f"salary: {self.salary}")
        print(f"Department: {self.department}")

m=Manager("John","50000","CSE")
m.display()

name: John
salary: 50000
Department: CSE

### ENCAPSULATION

In [48]:
class company():
    def __init__(self):
        self.companyname="Google"

c=company()
c.companyname="Microsoft" #anyone can rewrite
print(c.companyname)

Microsoft

## Access modifiers
#### __ =>private
#### no underscore =>public
#### _ =>protected (child class that inherits it and the class varibale can access it )

In [15]:
class company():
    def __init__(self):
        self.__companyname="Google" #__varibale name ==>private variable
    def companyname(self):
        print(self.__companyname)#only can be accessed inside class
        

c=company()
c.companyname()  #google only able to view it using this can print __companyname variable
print(c.__companyname)

Google

AttributeError: 'company' object has no attribute '__companyname'

In [57]:
#protected example
class company():
    def __init__(self):
        self._companyname="Google"
class b(company):
    pass
b1=b()
print(b1._companyname) #protected

Google

### ABSTRACTION
hiding the unnecessary details

In [11]:
from abc import ABC,abstractmethod
class car(ABC):
    @abstractmethod
    def mf(self):
        pass
    @abstractmethod
    def mb(self):
        print("hello")
    @abstractmethod
    def fm(self):
        pass
class swift(car):
    
    def mf(self):
        print("swift is a moving forward")
    def mb(self):
        print("swift is a moving backward")
    def fm(self):
        print("swift is a fast moving")

class innova(car):
    def mf(self):
        print("innove is a moving forward")
    def mb(self):
        print("innova is a moving backward")
    def fm(self):
        print("innova is a fast moving")
s=swift()
s.mb()

swift is a moving backward

In [19]:
from abc import ABC
class dad(ABC):
    
    def hello(self):
        print("Hello, I am a dad")

class child(dad):
    def __init__(self):
        print("child constructor")
    def hello(self):
        print("Hello, I am a child")
        
c=child()
c.hello()

child constructor
Hello, I am a child

# EXCEPTION HANDLING

In [26]:
#compile time error
# error while python reading each line
print("hi")
print("hey")
printt("how") #coz error  Nameerror
# logical error
a=10
b=20
print(a+a)

hi
hey

NameError: name 'printt' is not defined

In [27]:
a=int(input())
b=int(input())
print(a+b) # a= 10 b="hi" =>valueerror runtime error

In [1]:
#hence use try except
try:
    a=int(input())
    b=int(input())
    print(a+b)
except ValueError():
    print("invalid")

TypeError: catching classes that do not inherit from BaseException is not allowed

# JSON handling

JSON  (JavaScript Object Notation) is a file that is mainly used to store and transfer data mostly between a server and a web application.

In [1]:
# importing json module
import json

#### Data Types in JSON:

String: Text enclosed in double quotes. Example: "hello"
Number: Numeric values. Example: 42, 3.14
Boolean: true or false
Null: Represents an empty or non-existent value: null
Array: Ordered list of values: [1, 2, "three"]
Object: Collection of key-value pairs: {"key": "value"}

#### Parsing JSON String
The loads() method is used to parse JSON strings in Python and the result will be a Python dictionary.

Syntax:

json.loads(json_string)

In [2]:
# Python program to convert JSON to Dict


import json

# JSON string
employee ='{"name": "Nitin", "department":"Finance",\
"company":"GFG"}'

# Convert string to Python dict
employee_dict = json.loads(employee)
print("Data after conversion")
print(employee_dict)
print(employee_dict['department'])

print("\nType of data")
print(type(employee_dict))

Data after conversion
{'name': 'Nitin', 'department': 'Finance', 'company': 'GFG'}
Finance

Type of data
<class 'dict'>

#### Reading JSON file
load() method can read a file that contains a JSON object. Suppose you have a file named student.json that contains student data and we want to read that file.

Syntax:

json.load(file_object)

to do file handling in json file 
[text](https://www.geeksforgeeks.org/read-json-file-using-python/)

In [ ]:
# Python program to read
# json file


import json

# Opening JSON file
f = open('data.json',)

# returns JSON object as
# a dictionary
data = json.load(f)

# Iterating through the json
# list
for i in data:
	print(i)

# Closing file
f.close()

# Python program to read
# json file


import json

# Opening JSON file
f = open('data.json',)

# returns JSON object as
# a dictionary
data = json.load(f)

# Iterating through the json
# list
for i in data:
	print(i)

# Closing file
f.close()

In [36]:
# Python program to convert
# Python to JSON


import json

# Data to be written
dictionary = {
	"name": "sunil",
	"department": "HR",
	"Company": 'GFG'
}

# Serializing json
json_object = json.dumps(dictionary)
print(json_object["name"])
print(type(json_object))
print(type(dictionary))

TypeError: string indices must be integers

In [7]:
# Python program to write JSON
# to a file


import json

# Data to be written
dictionary ={
	"name" : "Nisha",
	"rollno" : 420,
	"cgpa" : 10.10,
	"phonenumber" : "1234567890"
}

with open("sample.json", "w") as outfile:
	json.dump(dictionary, outfile)

##### indent
to format json string

In [11]:
# Import required libraries
import json

# Initialize JSON data
json_data = '[ {"studentid": 1, "name": "Nikhil", "subjects": ["Python", "Data Structures"]},\
{"studentid": 2, "name": "Nisha", "subjects": ["Java", "C++", "R Lang"]} ]'

# Create Python object from JSON string 
# data
data = json.loads(json_data)

# Pretty Print JSON
json_formatted_str = json.dumps(data, indent=4)
print(json_formatted_str)
print(type(json_formatted_str))

[
    {
        "studentid": 1,
        "name": "Nikhil",
        "subjects": [
            "Python",
            "Data Structures"
        ]
    },
    {
        "studentid": 2,
        "name": "Nisha",
        "subjects": [
            "Java",
            "C++",
            "R Lang"
        ]
    }
]
<class 'str'>

In [12]:
#sort_keys to sort json data
# Import required libraries
import json

# Initialize JSON data
json_data = '[ {"studentid": 1, "name": "Nikhil", "subjects":\
["Python", "Data Structures"], "company":"GFG"},\
{"studentid": 2, "name": "Nisha", "subjects":\
["Java", "C++", "R Lang"], "company":"GFG"} ]'

# Create Python object from JSON string 
# data
data = json.loads(json_data)

# Pretty Print JSON
json_formatted_str = json.dumps(data, indent=4, sort_keys=True)
print(json_formatted_str)

[
    {
        "company": "GFG",
        "name": "Nikhil",
        "studentid": 1,
        "subjects": [
            "Python",
            "Data Structures"
        ]
    },
    {
        "company": "GFG",
        "name": "Nisha",
        "studentid": 2,
        "subjects": [
            "Java",
            "C++",
            "R Lang"
        ]
    }
]

In [186]:
#python
dict1={
    "name":"shabana","age":20,"place":"cbe"
}
l=list(dict1)
print(l)


A = ["jony",22,"chennai"]


'''
dict["name"]="jony"
dict["age"]=22
dict["place"]="chennai"
'''
dict2={"name":"jony","age":20,"place":"cbe"}
dict1.update(dict2)
#print(dict1)

dict1={
    "name":"shabana","age":20,"place":"cbe"
}
'''
for x in dict1.keys():
    for y in d:
        print(dict(map(x,y))) 

'''


myDict = { l:A for (l,A) in zip(l, A)}  


print (myDict)

['name', 'age', 'place']
{'name': 'jony', 'age': 22, 'place': 'chennai'}

: